html, body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: turquoise;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

header {
  margin: 10px;
}

svg{
  /*width: 100%;
  height: 100%;*/
  border: 1px solid black;
}

.chartContainer {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

#madeBy a {
  color: white;
}
