html,body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: turquoise;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  margin: 10px;
}

svg{
  width: 70%;
  height: 70%;
  display: block;
  margin: auto;
  border: 1px solid white;
}

.chartContainer {
  width: 100%;
  height: 100%;
}

#madeBy a {
  color: white;
}
